<div class="back-to-top"></div>

<header>
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-sm">
                    <div class="site-info">
                        <a href="tel:+216 24 474 979"><span class="mai-call text-primary"></span> +216 24 474 979</a>
                        <span class="divider">|</span>
                        <a href="mailto:we.r.talended@gmail.com"><span class="mai-mail text-primary"></span> we.r.talended@gmail.com</a>
                    </div>
                </div>
                <div class="col-sm-4 text-right text-sm">
                    <div class="social-mini-button">
                        <a target="_blank" href="https://www.facebook.com/we.R.talended/"><span class="mai-logo-facebook-f"></span></a>
                        <a target="_blank" href="https://instagram.com/we.r.talended?igshid=YmMyMTA2M2Y="><span class="mai-logo-instagram"></span></a>
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .topbar -->

    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#"><span class="text-primary">Covi</span>-Dash</a>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport"
                aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupport">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="/about_us" routerLinkActive="active">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="/home" [matMenuTriggerFor]="menu">Bonus Features</a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item routerLink="/patient" >Patient's Future State Prediction</button>
                            <button mat-menu-item routerLink="/virus">Virus Contraction Prediction</button>
                            <button mat-menu-item routerLink="/symptoms">Subject's Status Check</button>
                            <button mat-menu-item>Coming soon...</button>
                        </mat-menu>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="doctors.html">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="btn btn-primary ml-lg-3" href="" routerLink="/dash/vaccination">Access Dashboard</a>
                    </li>
                </ul>
            </div> <!-- .navbar-collapse -->
        </div> <!-- .container -->
    </nav>
</header>

<div class="page-hero bg-image overlay-dark" style="background-image: url(../assets/img/bg_image_1.jpg);">
    <div class="hero-section">
        <div class="container text-center wow zoomIn">
            <span class="subhead">Take your dose, bring covid to a close</span>
            <h1 class="display-4">Covi-Dash</h1>
            <!-- <a href="#" class="btn btn-primary">Let's Consult</a> -->
        </div>
    </div>
</div>


<div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-eye"></span>
                        </div>
                        <p><span>Track</span> Vaccination Rates</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-stats-chart"></span>
                        </div>
                        <p><span>Get</span> the latest Tests and Cases</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-push"></span>
                        </div>
                        <p><span>All</span> With the push of a button</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .page-section -->

    <div class="page-section pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h1>Welcome to <br> Covi-Dash</h1>
                    <p class="text-grey mb-4">Using Covi-Dash, you can track the latest numbers when it comes
                        to the Covid-19 Pandemic In India.
                        You won't find better looking platforms elsewhere, nor finer details.
                        Supplied and Trusted by the Indian Goverment, we provide real-time numbers from accross
                        all 37 States.
                    </p>
                    <a href="" routerLink="/about_us" class="btn btn-primary">Learn More</a>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                    <div class="img-place custom-img-1">
                        <img src="../assets/img/bg-doctor.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .bg-light -->

    <div class="page-section pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="400ms">
                    <div class="img-place custom-img-1">
                        <img src="../../../assets/img/handicapped.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h1>Priority to <br> those with special needs</h1>
                    <p class="text-grey mb-4">
                        We have thought a lot about those closest to us that have some special needs that need satisfying.
                        That is why we dedicated a feature of this platform to their service.
                        Using our special Form, they can have a general idea about what kind of vaccin to take,
                        depending on their disabilities, allergies, phobias and cronic diseases.
                    </p>
                    <a href="" (click)="popUpSpecialForm()" routerLink="/home" class="btn btn-primary">Fill our Form</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .bg-light -->



<div class="page-section bg-light">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Promotional Video</h1>
        <br>
        <div class="row" align="center">
            <div style="border-style: solid ;" class="col wow zoomIn embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls loop poster="../../../assets/videos/VIDEO POSTER.jpg" >
                    <source src="../../../assets/videos/CoviDash.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> <!-- .page-section -->


<div class="page-section bg-light">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Latest News</h1>
        <div class="row mt-5">
            <div class="col-lg-4 py-2 wow zoomIn">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-category">
                            <a hhref="" routerLink="/home">Covid19</a>
                        </div>
                        <a href="" routerLink="/home" class="post-thumb">
                            <img src="../assets/img/blog/blog_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="" routerLink="/home">List of States With the most Cases</a></h5>
                        <div class="site-info">
                            <div class="avatar mr-2">
                                <div class="avatar-img">
                                    <img src="../../../assets/img/Nadine.jpg" alt="">
                                </div>
                                <span>Nadine Ben Hmida</span>
                            </div>
                            <span class="mai-time"></span> 1 week ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 py-2 wow zoomIn">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-category">
                            <a href="" routerLink="/home">Covid19</a>
                        </div>
                        <a href="" routerLink="/home" class="post-thumb">
                            <img src="../assets/img/blog/blog_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="" routerLink="/home">Should you Worry About Covid-19</a>
                        </h5>
                        <div class="site-info">
                            <div class="avatar mr-2">
                                <div class="avatar-img">
                                    <img src="../../../assets/img/Fatma.jpg" alt="">
                                </div>
                                <span>Fatma Yahyaoui</span>
                            </div>
                            <span class="mai-time"></span> 4 weeks ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 py-2 wow zoomIn">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-category">
                            <a href="" routerLink="/home">Covid19</a>
                        </div>
                        <a href="" routerLink="/home" class="post-thumb">
                            <img src="../assets/img/blog/blog_3.jpg" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="" routerLink="/home">Are Vaccines really harmless?</a></h5>
                        <div class="site-info">
                            <div class="avatar mr-2">
                                <div class="avatar-img">
                                    <img src="../../../assets/img/Rania.jpg" alt="">
                                </div>
                                <span>Rania Ben Abdallah</span>
                            </div>
                            <span class="mai-time"></span> 2 months ago
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg);">
    <div class="container py-5 py-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-4 wow zoomIn">
                <div class="img-banner d-none d-lg-block">
                    <img src="../assets/img/mobile_app.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 wow fadeInRight">
                <h1 class="font-weight-normal mb-3">Get easy access of all features using Covidash Application</h1>
                <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
                <a href="#" class="ml-2"><img src="../assets/img/app_store.svg" alt=""></a>
            </div>
        </div>
    </div>
</div> <!-- .banner-home -->

<footer class="page-footer">
    <div class="container">
        <div class="row px-md-3">
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>Company</h5>
                <ul class="footer-menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Editorial Team</a></li>
                    <li><a href="#">Protection</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>More</h5>
                <ul class="footer-menu">
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Join as Doctors</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>Our partner</h5>
                <ul class="footer-menu">
                    <li><a href="#">One-Fitness</a></li>
                    <li><a href="#">One-Drugs</a></li>
                    <li><a href="#">One-Live</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>Contact</h5>
                <p class="footer-link mt-2">Rue du Lac Huron , Tunis 1053</p>
                <a href="tel:+216 24 474 979" class="footer-link"> +216 24 474 979</a>
                <a href="mailto:we.r.talended@gmail.com" class="footer-link"> we.r.talended@gmail.com</a>
            </div>
        </div>
    </div>
</footer>