<!-- Back to top button -->
<div class="back-to-top"></div>

<header>
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-sm">
                    <div class="site-info">
                        <a href="tel:+216 24 474 979"><span class="mai-call text-primary"></span> +216 24 474 979</a>
                        <span class="divider">|</span>
                        <a href="mailto:we.r.talended@gmail.com"><span class="mai-mail text-primary"></span> we.r.talended@gmail.com</a>
                    </div>
                </div>
                <div class="col-sm-4 text-right text-sm">
                    <div class="social-mini-button">
                        <a target="_blank" href="https://www.facebook.com/we.R.talended/"><span class="mai-logo-facebook-f"></span></a>
                        <a target="_blank" href="https://instagram.com/we.r.talended?igshid=YmMyMTA2M2Y="><span class="mai-logo-instagram"></span></a>
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .topbar -->

    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#"><span class="text-primary">Covi</span>-Dash</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport"
                aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupport">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="/about_us" routerLinkActive="active">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="/about_us" [matMenuTriggerFor]="menu">Bonus Features</a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item routerLink="/patient" >Patient's Future State Prediction</button>
                            <button mat-menu-item routerLink="/virus">Virus Contraction Prediction</button>
                            <button mat-menu-item routerLink="/symptoms">Subject's Status Check</button>
                            <button mat-menu-item>Coming soon...</button>
                        </mat-menu>
                    </li>
                    <!-- <li class="nav-item">
            <a class="nav-link" href="" routerLink="/dash/vaccination" >Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li> -->
                    <li class="nav-item">
                        <a class="btn btn-primary ml-lg-3" href="" routerLink="/dash/vaccination">Access Dashboard</a>
                    </li>
                </ul>
            </div> <!-- .navbar-collapse -->
        </div> <!-- .container -->
    </nav>
</header>

<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">About Us</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div align="center" class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Welcome to Covid-Dash</h1>
                <h4 class="text-center mb-3">Powred By</h4>
                <img width="200px" src="../../../assets/wrt.png">
                <br>
                <div class="text-lg">
                    <p>Covi-Dash is a project made by passionate students from Esprit School Of Business in Tunisia.
                        Their goal was to monitor the changing Covid-19 Status across all the states of The Indian Goverment.
                        What you're seeing right now is one of the many fruits of 6 Months of hard work, dedication, and
                        Commitment.
                    </p>
                    <p>WRT, short for We R TalenDed (Yes the pun is indeed intended), is a small startup company that specialises
                        in Analysing, Interpreting and Visualising Data in the most innovative way possible.
                        With it's versatile and dynamic crew, WRT has been at the top of its game since Day one.
                    </p>
                </div>
            </div>
            <div class="col-lg-10 mt-5">
                <h1 class="text-center mb-5 wow fadeInUp">Our Crew</h1>
                <div class="row justify-content-center">

                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="../../../assets/img/Aziz.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Abd Aziz Fitouri</p>
                                <span class="text-sm text-grey">CEO</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="../../../assets/img/Fatma.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Fatma Yahyaoui</p>
                                <span class="text-sm text-grey">Financial Department Director</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="../../../assets/img/Rania.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Rania Ben Abdallah</p>
                                <span class="text-sm text-grey">Sales Director</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="../../../assets/img/Nadine.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Nadine Ben Hmida</p>
                                <span class="text-sm text-grey">Head of Design</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="../../../assets/img/Haythem.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Haythem Selmi</p>
                                <span class="text-sm text-grey">Marketing Director</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <div class="card-doctor">
                            <div class="header">
                                <img src="../../../assets/img/Khalil.jpg" alt="">
                                <div class="meta">
                                    <a href="#"><span class="mai-call"></span></a>
                                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                </div>
                            </div>
                            <div class="body">
                                <p class="text-xl mb-0">Khalil Azzabi</p>
                                <span class="text-sm text-grey">Head of R&D</span>
                            </div>
                        </div>
                    </div>

                    

                    

                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg);">
    <div class="container py-5 py-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-4 wow zoomIn">
                <div class="img-banner d-none d-lg-block">
                    <img src="../assets/img/mobile_app.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 wow fadeInRight">
                <h1 class="font-weight-normal mb-3">Get easy access of all features using One Health Application</h1>
                <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
                <a href="#" class="ml-2"><img src="../assets/img/app_store.svg" alt=""></a>
            </div>
        </div>
    </div>
</div> <!-- .banner-home -->

<footer class="page-footer">
    <div class="container">
        <div class="row px-md-3">
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>Company</h5>
                <ul class="footer-menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Editorial Team</a></li>
                    <li><a href="#">Protection</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>More</h5>
                <ul class="footer-menu">
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Join as Doctors</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>Our partner</h5>
                <ul class="footer-menu">
                    <li><a href="#">One-Fitness</a></li>
                    <li><a href="#">One-Drugs</a></li>
                    <li><a href="#">One-Live</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 py-3">
                <h5>Contact</h5>
                <p class="footer-link mt-2">351 Willow Street Franklin, MA 02038</p>
                <a href="#" class="footer-link">701-573-7582</a>
                <a href="#" class="footer-link">healthcare@temporary.net</a>

                <h5 class="mt-3">Social Media</h5>
                <div class="footer-sosmed mt-3">
                    <a href="#" target="_blank"><span class="mai-logo-facebook-f"></span></a>
                    <a href="#" target="_blank"><span class="mai-logo-twitter"></span></a>
                    <a href="#" target="_blank"><span class="mai-logo-google-plus-g"></span></a>
                    <a href="#" target="_blank"><span class="mai-logo-instagram"></span></a>
                    <a href="#" target="_blank"><span class="mai-logo-linkedin"></span></a>
                </div>
            </div>
        </div>

        <hr>

        <p id="copyright">Copyright &copy; 2020 <a href="https://macodeid.com/" target="_blank">MACode ID</a>. All right
            reserved</p>
    </div>
</footer>